#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
venv/
venv.bak/

# Project specific

output/all_in_one/
output/all_vars*
all_vars.csv

# other nonsense
.DS_Store
